/*
Write your variables here. All available variables can be
found in element-ui/packages/theme-chalk/src/common/var.scss.
For example, to overwrite the theme color:
*/
$--color-primary: #d13c7f;
$--color-move: #ffa500;
$--color-danger: #df0000;
$--color-white: #ffffff;
$--color-black: #000000;

/* 全局文字大小 */
$--my-font-size-huge: 36px;
$--my-font-size-extra-large: 32px;
$--my-font-size-large: 28px;
$--my-font-size-medium: 24px;
$--my-font-size-base: 20px;
$--my-font-size-small: 16px;
$--my-font-size-extra-small: 12px;

/* 全局间距 */
$--toolbar-margin-bottom: 10px;
$--pagination-margin-top: 10px;
