.container {
    .search_container {
        background-color: #bb3479;
        align-items: center;
        height: 80rpx;
        position: relative;

        .e_search {
            position: absolute;
            left: 50%;
            top: 10rpx;
            transform: translateX(-50%);
            padding: 10rpx auto 10rpx auto;
            height: 30rpx;
            width: 90%;
            background-color: #e7e7e7;
            font-size: 27rpx;
            text-align: center;
            border-radius: 20rpx;
        }

        .placeholder {
            text-align: center;
            background-position: 60rpx center;
            background-repeat: no-repeat;
            background-size: 27rpx;
            background-image: url("/resources/icons/instruction/macroscope.png");
        }
    }

    .chosing_container {
        display: flex;
        width: 100%;

        .tag_container {
            height: 1000rpx;
            width: 30%;
            border: 5rpx solid #bb3479;
            border-top: #e7e7e7;
            background-color: white;

            .tag_title {
                margin-right: -10rpx;
                height: 80rpx;
                width: 100%;
                color: #e7e7e7;
                background-color: #fc82c1;
                position: relative;

                .name {
                    position: absolute;
                    top: 15rpx;
                    left: 25rpx;
                    text-align: center;
                    font-family: "YouYuan";
                }

            }

            .tag {
                margin: 20rpx 10rpx;
                border: 3rpx solid black;
                border-radius: 30rpx;
                text-align: center;
                .tag_name {
                    
                }
            }
        }

        .instruction_container {}
    }
}